@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  color-scheme: only light;
}
@layer base {
  ul,
  ol {
    list-style: revert;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* slider images */

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* zindex */
/* .-z-50.css-1m9128y {
  display: none;
} */

/* swiper slider  */

.swiper-slide {
  background: none !important;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* home page custom image */
.c-active {
  color: #0279b1;
}
.c-hover {
  transition: transform 1s;
}
.c-hover:hover {
  background-color: #0279b1;
  color: white !important;
  transform: scale(1.1);
  z-index: 10;
}
.hover-text {
  color: #0279b1;
}
.c-hover:hover .hover-text {
  color: white !important;
}
.c-text {
  color: #0279b1;
}

/* social media link design */

.c-icon {
  transition: transform 0.8s;
}
.c-icon:hover {
  transform: scale(1.5);
}

.custom-moto {
  margin-top: -5rem;
}

.custom-bg {
  height: 53rem;
}

.c-service-view {
  background-color: #0279b1;
  color: white;
}
/* service container */
.c-hover:hover > .c-service-view {
  background-color: white;
  color: #0279b1;
}
.c-moto-text {
  background-color: #0279b1;
  color: white;
}

/* hiding the slider navigation */
.css-1m9128y {
  display: none;
}
/* design for fotter newsletter sign in */

.newsLetter {
  border-color: #0279b1;
  color: #0279b1;
}
.newsLetter:hover {
  background-color: #0279b1;
  color: White;
}

/* designing the custom slider */

.c-slider {
  text-align: center;
}

/* top header  buttom design */
.button-primary {
  background-color: #0279b1;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #126388;
}

@media only screen and (max-width: 1023px) {
  .custom-bg {
    height: 75rem;
  }
  .c-slider {
    left: 25%;
  }
}
@media only screen and (max-width: 700px) {
  .c-slider {
    left: 15%;
  }
}

@media only screen and (max-width: 639px) {
  .custom-bg {
    height: 147rem;
  }
  .container {
    max-width: 500px;
  }
  .c-slider {
    left: 10%;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    max-width: 400px;
  }
  .c-slider {
    left: 0%;
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    max-width: 320px;
  }
}

/* deisgn canvas  */

.canva {
  background-color: black;
  height: 20rem;
}

.canva span {
  position: absolute;
  top: 45%;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: inset 0 0 0 5px rgba(225, 225, 225, 0.5);
  animation: animate 5s linear infinite;
}

.canva span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(#fff, transparent);
  border-radius: 50%;
}

@keyframes animate {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-1200%);
    opacity: 1;
  }
}

/* for contact us form  */

.containers .contactInfo {
  display: flex;
  flex-direction: column;
}
.containers .contactInfo .boxs {
  display: flex;
  padding: 2rem 0;
}
.containers .contactInfo .boxs .icons {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2.2rem;
}
.containers .contactInfo .boxs .texts {
  display: flex;
  margin-left: 2rem;
  font-size: 1.6rem;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.containers .contactInfo .boxs .texts h3 {
  font-weight: 400;
  color: #0279b1;
}

.contactForm {
  background-color: #fff;
  border-radius: 1rem;
}
.contactForm form {
  padding: 6rem;
}
.contactForm h2 {
  font-size: 3rem;
  color: #0279b1;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 0.5rem;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100% !important;
  padding: 0.5rem 0 !important;
  font-size: 1.3rem !important;
  margin: 1rem 0 !important;
  border: none !important;
  border-radius: 0rem !important;
  border-bottom: 0.1rem solid #333 !important;
  outline: none !important;
  background-color: #fff !important;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 0.5rem 0;
  font-size: 1.4rem;
  margin: 1rem 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #0279b1;
  font-size: 1.2rem;
  transform: translateY(-2rem);
}
.contactForm .inputBox button {
  width: 8rem;
  background-color: #0279b1;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.8rem;
  border-radius: 1rem !important;
}
.contactForm .inputBox button:hover {
  background-color: #085275;
}
@media only screen and (max-width: 1020px) {
  .contactForm form {
    padding: 2rem;
  }
}
@media only screen and (max-width: 450px) {
  .containers .contactInfo .boxs .texts {
    font-size: 1.3rem;
  }
  .contactForm form {
    padding: 1rem;
  }
  .contactForm h2 {
    font-size: 1.6rem;
  }
}
.bg-primary {
  background-color: #0279b1;
  color: white;
}

/* editor custom edit */

.jodit-wysiwyg {
  padding: 2rem !important;
}

/* custome loading */
.c-loading {
  font-size: 60px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
/* 
  * Job details section

*/

.c-job-des ul,
ol {
  padding-left: 3rem;
}
.c-job-des h2 {
  color: #0279b1;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
